#__nuxt {
  a {
    text-decoration: none;
  }
}

// .page-enter-active,
// .page-leave-active {
//   transition: opacity 15s;
// }

// .page-enter,
// .page-leave-active {
//   opacity: 0;
// }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 15s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.category-active {
  background: #efefef !important;
}

.country-active {
  color: #4a148c !important;
  font-size: 14px !important;
}
